openapi: 3.1.0
info:
  title: Yasmine API
  version: 1.1.0
  summary: Agent vocal IA pour confirmation de commandes — API reseller.
  description: |
    API Yasmine — déclenche des appels IA sortants pour confirmer des commandes,
    et gère crédits, webhooks, clés API en self-service.

    **Statut des endpoints** :
    - `x-status: live` — implémenté et appelable en prod aujourd'hui.
    - `x-status: internal` — route technique, pas sous le SLA `/v1/*`.

    **Format d'erreur** : toutes les erreurs sous `/v1/*` sont au format
    RFC 7807 `application/problem+json` — cf `docs/errors.md`.

    **Authentification** : Bearer token `yk_...` sur tous les endpoints
    `/v1/*`. Cf `docs/getting-started.md`.

    **Traçabilité** : chaque requête reçoit un header response
    `X-Request-ID` (UUID v4). Vous pouvez envoyer votre propre UUID v4
    via le header request de même nom — Yasmine le respecte si format
    strict valide, sinon régénère. Le `request_id` apparaît aussi dans
    le body des réponses d'erreur RFC 7807 et dans nos logs serveurs.
    Joignez-le à tout ticket support.

    **Headers response transverses** (émis sur toutes les responses `/v1/*`,
    succès comme erreur — non répétés par endpoint pour lisibilité) :

    - `X-Request-ID` (UUID v4) — cf bloc Traçabilité ci-dessus. Schéma :
      `#/components/headers/RequestIdResponse`.
    - `X-RateLimit-Limit` / `X-RateLimit-Remaining` / `X-RateLimit-Reset`
      — émis sur les 2xx des endpoints rate-limités et aussi
      sur les 429. Schémas : `#/components/headers/RateLimitLimit`,
      `RateLimitRemaining`, `RateLimitReset`.
    - `Retry-After` (RFC 7231) — émis uniquement sur 429, voir
      `#/components/responses/RateLimited`.
    - `X-Idempotent-Replay` — uniquement sur `POST /v1/calls` quand la
      réponse est un replay, voir la route.

    Chaque endpoint `/v1/*` déclare son propre plafond rate-limit via
    l'extension `x-rate-limit: "N/minute"` (valeur source code, cf
    compteur par clé API).

    Voir aussi : `/docs/getting-started.md`, `/docs/examples.md`,
    `/docs/webhooks.md`, `/docs/errors.md`, `/docs/versioning.md`.
  x-common-headers:
    description: |
      Headers response communs — documentés globalement dans
      `info.description` pour éviter la duplication sur chaque response.
    items:
      - "$ref": "#/components/headers/RequestIdResponse"
      - "$ref": "#/components/headers/RateLimitLimit"
      - "$ref": "#/components/headers/RateLimitRemaining"
      - "$ref": "#/components/headers/RateLimitReset"
  contact:
    name: Yasmine API
    email: contact@akidly.com
    url: https://docs.yasmine.akidly.com
  license:
    name: Proprietary
servers:
  - url: https://api.yasmine.akidly.com
    description: Production
tags:
  - name: Calls
    description: Déclencher et consulter les appels IA sortants.
  - name: Account
    description: Profil reseller, solde, consommation, transactions, clés API, webhooks sortants.
  - name: Webhooks
    description: |
      Configuration self-service du webhook sortant unique par reseller.
      Émission des events (catalogue `call.*`) cf `docs/webhooks.md`.
  - name: API Keys
    description: |
      Gestion self-service des clés API du reseller. CRUD simple :
      liste, création (secret visible **une seule fois**), révocation
      soft. Pas de scopes, pas d'expiration automatique — la seule
      bascule sécurité est la révocation manuelle.
  - name: Shops
    description: |
      Fiches boutiques : déclarer, consulter, modifier, archiver. Déclarer
      une boutique ici évite de retransmettre son profil à chaque demande
      d'appel.
  - name: Products
    description: |
      Catalogue d'une boutique : produits et leurs declinaisons. Un produit
      declare ici se commande ensuite par simple reference — son nom, son
      prix et ses variantes n'ont plus a etre repetes a chaque commande.
  - name: Orders
    description: |
      Les commandes d'une boutique, declarees avec votre identifiant puis
      appelees par reference — autant de fois qu'il faut, les appels
      s'empilent sur la commande. Les articles sont figes a la declaration.
  - name: Internal
    description: |
      Routes techniques hors SLA `/v1/*` (probe santé). Ne sont **pas**
      destinées à l'intégration reseller — documentées pour transparence
      opérationnelle uniquement.
security:
  - bearerAuth: []
paths:
  # -------------------------------------------------------------------------
  # Calls — reseller-facing
  # -------------------------------------------------------------------------
  /v1/calls:
    post:
      operationId: createCall
      summary: Déclencher un appel
      tags: [Calls]
      x-status: live
      x-rate-limit: "60/minute"
      description: |
        Crée un appel IA sortant.

        **Le canal est choisi pour vous.** Omettez `call_params.channel` :
        le canal par défaut de votre installation s'applique, et c'est le
        bon dans la quasi-totalité des cas. Le préciser n'a d'intérêt que
        si vous avez une raison de forcer une voie particulière — et tous
        les canaux ne sont pas ouverts partout, un canal fermé renvoyant
        `422 channel_not_available`.

        **Deux façons de désigner la commande.** Décrite sur place, avec
        `customer` et `order` — la forme historique, inchangée. Ou **par
        référence**, avec `order_external_id` seul : la commande a été
        déclarée via `POST /v1/shops/{id}/orders`, le serveur relit le
        client, les articles figés et les montants, et rattache l'appel à
        la commande. C'est la forme à privilégier : relancer le client se
        fait avec la même référence, et « toutes les commandes de ce
        produit » a une réponse.

        **Idempotency-Key obligatoire** : header `Idempotency-Key`
        requis (1-255 chars, UUID v4 recommandé). Scope par reseller, TTL
        24 h. Un retry réseau (504 Cloudflare, time-out client) avec la
        même clé renvoie la réponse stockée bit-for-bit (`X-Idempotent-
        Replay: true`) sans déclencher d'appel supplémentaire. Réutiliser
        la même clé avec un body différent retourne `409
        idempotency_key_conflict`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallCreate"
            examples:
              maroc_basic:
                summary: Appel simple Maroc (commande à article unique, texte libre)
                value:
                  customer:
                    name: "Ahmed Bennani"
                    phone_number: "+212612345678"
                  shop_external_id: "boutique-casa-01"
                  shop_info:
                    name: "GlowArt Casa"
                  order:
                    external_id: "CMD-2026-00789"
                    delivery_address: "12 Rue X, Casablanca"
                    items_text: "Crème hydratante visage 50ml"
                    amount: "249.00"
                    currency: "MAD"
                  country: "MA"
                  call_params:
                    purpose: "confirmation"
              maroc_with_items:
                summary: Appel Maroc avec liste structurée d'articles
                value:
                  customer:
                    name: "Ahmed Bennani"
                    phone_number: "+212612345678"
                  shop_external_id: "boutique-casa-01"
                  shop_info:
                    name: "GlowArt Casa"
                  order:
                    external_id: "CMD-2026-00790"
                    delivery_address: "12 Rue X, Casablanca"
                    items:
                      - name: "T-shirt blanc en coton"
                        quantity: 2
                        variants:
                          - name: "Taille"
                            value: "XXL"
                          - name: "Couleur"
                            value: "blanc"
                        available_variants:
                          - - name: "Taille"
                              value: "XXL"
                            - name: "Couleur"
                              value: "blanc"
                          - - name: "Taille"
                              value: "XL"
                            - name: "Couleur"
                              value: "blanc"
                          - - name: "Taille"
                              value: "M"
                            - name: "Couleur"
                              value: "noir"
                        description: "T-shirt col rond 100% coton, coupe droite."
                        unit_price: "120.00"
                      - name: "Jean noir slim"
                        quantity: 1
                        unit_price: "320.00"
                    amount: "560.00"
                    currency: "MAD"
                  country: "MA"
                  call_params:
                    purpose: "confirmation"
              maroc_french_speaker:
                summary: Appel Maroc avec client francophone (override de la langue par défaut)
                value:
                  customer:
                    name: "Sophie El Idrissi"
                    phone_number: "+212661111222"
                  shop_external_id: "boutique-casa-01"
                  shop_info:
                    name: "GlowArt Casa"
                  order:
                    external_id: "CMD-2026-00791"
                    delivery_address: "12 Rue X, Casablanca"
                    items_text: "Crème hydratante visage 50ml"
                    amount: "249.00"
                    currency: "MAD"
                  country: "MA"
                  language: "fr"
                  call_params:
                    purpose: "confirmation"
              france_full:
                summary: Appel France, profil client + shop + order complets
                value:
                  customer:
                    name: "Claire Dupont"
                    phone_number: "+33612345678"
                    gender: "female"
                    email: "claire@example.com"
                    notes: "VIP, horaires bureau uniquement"
                  shop_external_id: "boutique-paris-01"
                  shop_info:
                    name: "GlowArt Paris"
                    sector: "beauté"
                    return_policy: "retour gratuit sous 14 jours"
                  order:
                    external_id: "CMD-2026-00123"
                    delivery_address: "25 Av des Champs-Élysées, 75008 Paris"
                    items_text: "sérum éclat 30ml + crème de jour"
                    amount: "49.90"
                    currency: "EUR"
                    delivery_method: "express"
                    delivery_zone: "urban"
                    source: "web"
                  country: "FR"
                  call_params:
                    purpose: "retry"
                    tone: "friendly"
                    voice_id: "coral"
                  metadata:
                    invoice_ref: "INV-789"
      responses:
        "201":
          description: |
            Appel créé et mis en file. Si `X-Idempotent-Replay: true` est
            présent dans les headers, la réponse est un replay d'une
            requête antérieure identique (même clé d'idempotence + même
            body), aucun nouvel appel n'a été déclenché.
          headers:
            Location:
              schema: { type: string }
              example: /v1/calls/dcaebcdd-a81a-4386-a0df-85d9aaafe862
            X-Idempotent-Replay:
              description: |
                Présent uniquement sur un replay idempotent. Vaut
                `"true"`. Absent sur la première occurrence d'une clé.
              schema: { type: string, enum: ["true"] }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallOut"
        "400": { $ref: "#/components/responses/IdempotencyKeyError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientBalance" }
        "409": { $ref: "#/components/responses/IdempotencyKeyConflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    get:
      operationId: listCalls
      summary: Lister les appels
      tags: [Calls]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Liste paginée des appels du reseller authentifié.
        Tri `created_at DESC` avec tie-break stable `id DESC`.

        **Curseur opaque** : passer la valeur `next_cursor` de la page
        précédente en `?cursor=...`. Le curseur est signé HMAC-SHA256
        côté serveur (TTL 24 h) — format opaque pour le client, pas
        de structure à parser.

        **Filtres combinables** : `status`, `shop_id`, `since`,
        `until`. Tous optionnels.

        **Erreurs de curseur** : `400 invalid_cursor` (format invalide,
        signature tampered, ou clé serveur tournée) ou `400
        cursor_expired` (> 24 h). Le client refait la 1re requête
        sans `cursor`.
      parameters:
        - in: query
          name: cursor
          required: false
          schema: { type: string }
          description: |
            Curseur opaque retourné par `next_cursor` de la page
            précédente. Absent pour la première page.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Nombre max d'items par page. > 200 → 422.
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [queued, dialing, in_progress, ended, failed]
          description: |
            Filtre exact sur le statut de l'appel, dérivé de
            `request_status` et `call_status`.
            Mapping :
            - `queued` — en attente de permission (`request_status` parmi
              `queued` / `waiting_user_permission`).
            - `dialing` — permission acceptée, numérotation en cours
              (`call_status` parmi `not_started`/`dialing`/`ringing`).
            - `in_progress` — client décroché (`call_status = connected`).
            - `ended` — fin naturelle (`call_status = ended`).
            - `failed` — tout état terminal non-nominal : permission
              refusée, expirée, quota bloqué, annulé reseller, ou tout
              autre échec non mappé. Un cancel reseller termine ici et
              non dans un `cancelled` distinct côté statut agrégé.
        - in: query
          name: result
          required: false
          schema:
            type: string
            enum: [confirmed, cancelled, requires_action]
          description: |
            Filtre exact sur le résultat principal métier. Exclut les
            appels en cours (`result` `null`). Combinable avec `status`
            pour cibler par exemple `?status=ended&result=confirmed`
            (commandes confirmées sans souci).
        - in: query
          name: shop_id
          required: false
          schema: { type: string, format: uuid }
        - in: query
          name: since
          required: false
          schema: { type: string, format: date-time }
          description: Minimum `created_at` (inclusif).
        - in: query
          name: until
          required: false
          schema: { type: string, format: date-time }
          description: Maximum `created_at` (inclusif).
      responses:
        "200":
          description: Page paginée (enveloppe `data`/`next_cursor`/`has_more`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaginatedCalls" }
        "400":
          description: |
            Curseur invalide/expiré (slug `invalid_cursor` ou
            `cursor_expired`). Refaire la 1re requête sans `cursor`.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: |
            clé de signature absente côté serveur (fail-closed).
            Contacter le support.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /v1/calls/{call_id}:
    get:
      operationId: getCall
      summary: Récupérer un appel
      tags: [Calls]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Lit l'état courant d'un appel scopé au reseller authentifié
        Utile pour réconcilier après un webhook perdu ou un
        crash mid-retry.

        **Anti-énumération** : trois cas renvoient un 404
        `call_not_found` byte-identique :
        - UUID syntaxiquement invalide (`/v1/calls/not-a-uuid`).
        - UUID valide mais inconnu.
        - UUID propriété d'un autre reseller.

        Aucun champ ne fuite l'existence ou le propriétaire.
      parameters:
        - $ref: "#/components/parameters/CallId"
      responses:
        "200":
          description: Détails de l'appel.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CallOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/CallNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/calls/{call_id}/recording:
    get:
      operationId: getCallRecording
      summary: Télécharger l'enregistrement audio d'un appel
      tags: [Calls]
      x-status: live
      x-rate-limit: "60/minute"
      description: |
        Stream le mix audio (client + agent) d'un appel terminé en WAV
        mono 16 kHz, 16-bit PCM.

        **Disponibilité** : seulement après que l'appel a atteint un état
        terminal (`call_status=ended`). Le champ `recording_url` du
        `CallOut` (cf `GET /v1/calls/{call_id}`) indique la disponibilité —
        `null` si l'audio n'est pas (encore) prêt.

        **Rétention** : 30 jours après la fin de l'appel. Au-delà, le
        fichier est purgé et l'endpoint renvoie `410 Gone` avec le slug
        `recording_gone` (distinct du `404 call_not_found` pour permettre
        au reseller de différencier « jamais existé » vs « purgé »).

        **Anti-énumération** : quatre cas renvoient un 404
        `call_not_found` byte-identique :
        - UUID syntaxiquement invalide
        - UUID inconnu
        - UUID propriété d'un autre reseller
        - artifact pas encore créé (call jamais finalisé)

        **Format** : WAV non compressé, mono, 16 kHz. ~32 KB/s soit
        ~2 MB pour 60s. Header `Content-Disposition: attachment;
        filename="<call_id>.wav"`.

        **Rate limit** : 60 req/min — plus restrictif que les endpoints
        JSON (audio plus lourd, on protège la bande passante). Cacher
        localement côté reseller.
      parameters:
        - $ref: "#/components/parameters/CallId"
      responses:
        "200":
          description: Stream WAV (mono, 16 kHz, 16-bit PCM).
          headers:
            Content-Disposition:
              schema: { type: string }
              description: 'attachment; filename="<call_id>.wav"'
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/CallNotFound" }
        "410":
          description: |
            L'enregistrement a été purgé après la fenêtre de rétention
            (30 jours).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/calls/{call_id}/cancel:
    post:
      operationId: cancelCall
      summary: Annuler un appel en cours
      tags: [Calls]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Annule un appel **en cours** (rail APPEL en `dialing`/`ringing`/
        `connected`, ou demande encore `queued`). Pattern Stripe-like sur
        ressource vivante.

        **Facturation** :
        - Avant `connected` → `billed_seconds = 0`, aucun débit.
        - `connected` → `billed_seconds = ceil(now - accepted_at)` avec
          plancher minimum 10 s (cf `docs/pricing.md`). Débit immédiat.

        **Idempotence** : si l'appel est déjà terminal (`ended`/`failed`/
        `cancelled`), réponse `200 OK` no-op : pas de mutation DB, pas
        d'event webhook ré-émis, pas de débit.

        **Event sortant** : `call.cancelled` émis une seule fois sur cancel
        effectif. Distinct de `call.ended` (fin naturelle) — cf
        `docs/webhooks.md` §7.

        **Scoping** : si le `call_id` appartient à un autre reseller, 404
        `call_not_found` (pas de leak d'existence).
      parameters:
        - $ref: "#/components/parameters/CallId"
      responses:
        "200":
          description: Appel annulé (ou déjà terminal, idempotent).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CallCancelOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/CallNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # -------------------------------------------------------------------------
  # Account — profil, solde, usage, clés, webhooks sortants
  # -------------------------------------------------------------------------
  /v1/me:
    get:
      operationId: getMe
      summary: Identité du reseller courant
      tags: [Account]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Retourne les 5 champs d'identité du reseller authentifié.
        Anti-BOPLA : pas de `balance_seconds` (voir `/v1/me/balance`),
        pas de `status` interne, pas de compteurs.
      responses:
        "200":
          description: Identité complète.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me/transactions:
    get:
      operationId: listTransactions
      summary: Ledger paginé (topup, debit_call, refund, adjustment)
      tags: [Account]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Historique paginé du ledger `credit_transactions`.
        Tri `created_at DESC, id DESC` (tie-break stable). Curseur
        opaque HMAC-SHA256 (TTL 24 h) — même
        contrat d'erreur `invalid_cursor` / `cursor_expired`.

        `seconds` est **signé** : positif = crédit (topup/refund),
        négatif = débit (debit_call). Pas de `currency` — la devise
        métier est "secondes facturables" aujourd'hui.
      parameters:
        - in: query
          name: cursor
          required: false
          schema: { type: string }
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: since
          required: false
          schema: { type: string, format: date-time }
        - in: query
          name: until
          required: false
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Page paginée.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaginatedTransactions" }
        "400":
          description: |
            Curseur invalide/expiré (`invalid_cursor` / `cursor_expired`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: |
            clé de signature absente côté serveur.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /v1/me/usage:
    get:
      operationId: getUsage
      summary: Consommation mensuelle agrégée
      tags: [Account]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Agrégats sur la période `YYYY-MM`. Défaut = mois
        courant UTC si `?period` absent. Fenêtre semi-open
        `[period_start, period_end)` sur la date de création de l'appel (date de
        soumission, pas de fin).

        **Ventilation** basée sur `call_status` :
        - `ended` → `breakdown.completed_*`
        - `failed` → `breakdown.failed_calls`
        - `cancelled` → `breakdown.cancelled_calls`
        - in-flight (`queued/dialing/ringing/connected/not_started`)
          comptés uniquement dans `total_calls`.

        Période sans appel → **200 avec zéros partout** (pas 404).
      parameters:
        - in: query
          name: period
          required: false
          schema:
            type: string
            pattern: "^\\d{4}-(0[1-9]|1[0-2])$"
          example: "2026-04"
          description: Défaut = mois courant UTC si absent.
      responses:
        "200":
          description: Agrégats.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UsageOut" }
        "400":
          description: |
            Format `period` invalide (`invalid_period_format`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me/api-keys:
    get:
      operationId: listApiKeys
      summary: Lister les clés API (sans le secret)
      tags: [API Keys]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Retourne les clés API du reseller courant. Inclut les
        clés actives ET révoquées (historique complet). Tri
        `created_at DESC`. Jamais de pagination — en pratique un
        reseller a < 10 clés.

        **Anti-BOPLA strict** : ni `key_hash`, ni `secret_key`, seul le
        `key_prefix` (12 chars) est exposé.
      responses:
        "200":
          description: Liste des clés.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKeyListOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
    post:
      operationId: createApiKey
      summary: Créer une nouvelle clé API
      tags: [API Keys]
      x-status: live
      x-rate-limit: "5/minute"
      description: |
        Génère une nouvelle clé API. Pattern Stripe/GitHub :
        la `secret_key` est **visible UNE SEULE FOIS** dans la réponse
        201. Le serveur n'en persiste que le hash SHA-256.

        **Rate-limit spécifique 5/min** (cumulé avec 600/min global).
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApiKeyCreateIn" }
            example:
              label: "ci-prod"
      responses:
        "201":
          description: |
            Clé créée. `secret_key` visible UNE FOIS ici — à stocker
            immédiatement côté reseller.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKeyCreatedOut" }
              example:
                id: "3f8e9d12-4b5a-4c6d-8e7f-123456789abc"
                key_prefix: "yk_Xa7bC3dE5f"
                label: "ci-prod"
                created_at: "2026-04-21T12:00:00Z"
                secret_key: "yk_Xa7bC3dE5fG9hI1jK2lM3nO4pQ5rS6tU7vW8xY9zA"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/me/api-keys/{key_id}:
    delete:
      operationId: revokeApiKey
      summary: Révoquer une clé API
      tags: [API Keys]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Soft-delete : pose `revoked_at = NOW()` sur la clé. La
        clé apparaîtra toujours dans `GET /v1/me/api-keys` avec
        `status=revoked` (historique préservé).

        **Anti-énumération** : 404 `api_key_not_found`
        byte-identique sur 3 cas : UUID malformé, clé inexistante, clé
        appartenant à un autre reseller.

        Auto-révocation safe : si le reseller révoque la clé qu'il est
        en train d'utiliser, la requête courante se termine normalement,
        la suivante retournera 401.
      parameters:
        - in: path
          name: key_id
          required: true
          schema: { type: string }
          description: |
            UUID v4 de la clé. Format invalide → 400 `invalid_key_id`.
      responses:
        "204":
          description: Clé révoquée.
        "400":
          description: |
            `key_id` n'est pas un UUID valide (`invalid_key_id`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: |
            Clé inexistante OU appartenant à un autre reseller
            (`api_key_not_found`, body byte-identique — anti-énum).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/me/api-keys/{key_id}/events:
    get:
      operationId: listApiKeyEvents
      summary: Journal d'audit d'une clé API
      tags: [API Keys]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Renvoie les événements associés à une clé API. Trois
        types d'events sont émis par le serveur aujourd'hui :

        - `created` — à la création via `POST /v1/me/api-keys`.
        - `revoked` — à la révocation via `DELETE /v1/me/api-keys/{id}`
          (jamais fire si la révocation retourne 404).
        - `rate_limited` — à chaque réponse 429 de l'API. **Dédupliqué
          côté serveur** : un seul event par clé par fenêtre de 60 s
          (garde-fou contre un attaquant qui saturerait l'endpoint).

        **Pagination** (curseur opaque HMAC-SHA256, TTL 24 h, forward-only).
        Tri `created_at DESC, id DESC`. `limit` max 50.

        **Anti-énumération** : 404 `api_key_not_found`
        byte-identique si la clé n'existe pas OU appartient à un autre
        reseller.

        **Anti-BOPLA** : `api_key_id` et `reseller_id` ne sont pas
        exposés dans la réponse (déjà dans l'URL et le scope tenant).
      parameters:
        - in: path
          name: key_id
          required: true
          schema: { type: string }
          description: UUID v4 de la clé. Format invalide → 400 `invalid_key_id`.
        - in: query
          name: cursor
          required: false
          schema: { type: string }
          description: Opaque, obtenu via `next_cursor` de la page précédente.
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 50, default: 50 }
      responses:
        "200":
          description: Page d'events.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKeyEventListOut" }
        "400":
          description: |
            `key_id` invalide (`invalid_key_id`) OU curseur corrompu/expiré
            (`invalid_cursor` / `cursor_expired`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: |
            Clé inexistante OU appartenant à un autre reseller
            (`api_key_not_found`, body byte-identique — anti-énum).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: "Clé de signature des curseurs non configurée côté serveur."
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /v1/me/balance:
    get:
      operationId: getBalance
      summary: Solde courant du reseller
      tags: [Account]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Solde du reseller authentifié, exprimé en **secondes facturables**
        Un appel coûte son `billed_seconds` (`max(duration_s, 10)`).

        Le solde peut être négatif dans la limite d'un découvert
        autorisé (300 s par défaut) — protection anti-clé volée.

        `currency` est `null` aujourd'hui (balance en secondes pures),
        réservé pour une future facturation en monnaie. `updated_at` est
        l'horodatage du dernier mouvement ledger.
      responses:
        "200":
          description: Solde courant.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BalanceOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me/webhooks/test:
    post:
      operationId: triggerWebhookTest
      summary: Tester son webhook (synchrone)
      tags: [Webhooks]
      x-status: live
      x-rate-limit: "10/minute"
      description: |
        Déclenche un `webhook.test` synchrone vers l'URL configurée du
        reseller. Retourne immédiatement le résultat (HTTP status,
        latence, erreur éventuelle). **Timeout 5 s, pas de retry**
        (contrairement aux events réels du dispatcher).

        Signature HMAC-SHA256 identique aux webhooks réels :
        `X-Yasmine-Signature: sha256=<hex>`. Le payload contient
        `data.test=true` pour permettre au reseller de filtrer ces
        événements en dev.

        **Rate-limit 10/min** spécifique (cumulé avec 600/min global).
        Toute tentative est tracée dans `webhook_deliveries` avec
        `event_type='webhook.test'` (visible via `GET /webhooks/deliveries`).
      responses:
        "200":
          description: Test exécuté (succès ou échec — voir `delivered`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookTestOut" }
        "400":
          description: |
            `webhook_url_not_configured` — pas de webhook actif. Configurer
            d'abord via `POST /v1/me/webhooks`.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/me/webhooks/deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: Historique paginé des livraisons webhook
      tags: [Webhooks]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Audit des livraisons webhook sortantes du reseller.
        Tri `attempted_at DESC, id DESC`. Curseur opaque.

        **Anti-BOPLA strict** : ni `response_body`, ni `signature_sent`,
        ni `event_id` brut. `error_message` tronqué à 200 chars.

        Statuts disponibles via `?status=` :
        - `delivered` : `delivered_at IS NOT NULL` (2xx reçu).
        - `failed` : `error IS NOT NULL` ou status_code non-2xx.
        - `pending` : ni l'un ni l'autre (edge case).
      parameters:
        - in: query
          name: cursor
          required: false
          schema: { type: string }
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [delivered, failed, pending]
        - in: query
          name: event_type
          required: false
          schema: { type: string }
          example: "call.ended"
        - in: query
          name: since
          required: false
          schema: { type: string, format: date-time }
        - in: query
          name: until
          required: false
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Page paginée.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaginatedDeliveries" }
        "400":
          description: |
            `invalid_status_filter` (status hors `delivered`/`failed`/
            `pending`), `invalid_cursor`, ou `cursor_expired`.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: |
            clé de signature absente côté serveur.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /v1/me/webhooks:
    post:
      operationId: createWebhook
      summary: Configurer le webhook sortant
      tags: [Webhooks]
      x-status: live
      x-rate-limit: "10/minute"
      description: |
        Enregistre l'URL du webhook sortant et génère un secret HMAC-SHA256.

        Le **`secret` est affiché UNE SEULE FOIS** dans cette réponse. Il
        sert à vérifier la signature `X-Yasmine-Signature` des payloads
        sortants (cf `docs/webhooks.md` §5). À stocker immédiatement côté
        reseller — aucune route ne permet de le récupérer ensuite.

        1 seul webhook actif par reseller. Pour rotate le secret :
        `DELETE /v1/me/webhooks` puis `POST` à nouveau.

        **SSRF guard** : l'URL est rejetée 400 si elle pointe vers
        `localhost`, un TLD `.local`, une IP privée (RFC 1918, loopback,
        link-local, ULA IPv6) ou utilise un scheme autre que `https`.

        **Note** : l'émission réelle des events (`call.ended`, etc.) est
        livrée en Phase 2 de C6. Configurer le webhook aujourd'hui ne
        déclenche encore aucun trafic.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookCreateInput" }
            examples:
              prod:
                summary: Endpoint HTTPS public
                value:
                  url: "https://monshop.com/yasmine-webhooks"
      responses:
        "201":
          description: Webhook créé — `secret` affiché UNE fois en clair.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookCreated" }
        "400":
          description: URL rejetée par le SSRF guard.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/WebhookUrlRejectedProblem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Webhook déjà configuré. DELETE d'abord pour rotate.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
              example:
                type: https://docs.yasmine.akidly.com/errors/webhook_already_configured
                title: Conflict
                status: 409
                detail: Ce reseller a deja un webhook actif. DELETE d'abord pour rotate volontairement le secret, puis POST a nouveau.
                instance: /v1/me/webhooks
                request_id: a1b2c3d4
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    get:
      operationId: getWebhook
      summary: Consulter la config webhook
      tags: [Webhooks]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Retourne la config active. Le `secret` n'est jamais renvoyé —
        seul `secret_prefix` (6 chars + `…`) est exposé pour permettre
        au reseller de repérer quel secret est en place.
      responses:
        "200":
          description: Config active du reseller.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookGet" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Aucun webhook configuré.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
              example:
                type: https://docs.yasmine.akidly.com/errors/webhook_not_configured
                title: Not Found
                status: 404
                detail: Aucun webhook configure pour ce reseller.
                instance: /v1/me/webhooks
                request_id: a1b2c3d4
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteWebhook
      summary: Désactiver le webhook
      tags: [Webhooks]
      x-status: live
      x-rate-limit: "10/minute"
      description: |
        Soft-delete : la config passe en `active=false`. L'historique
        `webhook_deliveries` reste intact (pour audit).
      responses:
        "204": { description: Webhook désactivé. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Aucun webhook configuré.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
              example:
                type: https://docs.yasmine.akidly.com/errors/webhook_not_configured
                title: Not Found
                status: 404
                detail: Aucun webhook configure pour ce reseller.
                instance: /v1/me/webhooks
                request_id: a1b2c3d4
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/me/webhooks/rotate-secret:
    post:
      operationId: rotateWebhookSecret
      summary: Rotate le signing secret HMAC
      tags: [Webhooks]
      x-status: live
      x-rate-limit: "5/minute"
      description: |
        Rotate atomiquement le `signing_secret` HMAC-SHA256
        du webhook actif. Pattern Stripe : nouveau secret au format
        `whsec_<43 chars base64url>`, visible **une seule fois** dans la
        réponse. L'ancien secret ne signe plus aucun event dès le retour
        200 (le dispatcher relit `webhook.secret` à chaque POST).

        Préféré au legacy `DELETE + POST` : sans indisponibilité entre
        les 2 appels, préserve l'URL, pas de 409 à gérer.

        `404 webhook_not_configured` si aucun webhook actif. Rate-limit
        **5/min** (aligné sur `POST /v1/me/api-keys`).
      responses:
        "200":
          description: Nouveau secret.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookSecretRotated" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: |
            Aucun webhook actif à rotate (`webhook_not_configured`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
              example:
                type: https://docs.yasmine.akidly.com/errors/webhook_not_configured
                title: Not Found
                status: 404
                detail: Aucun webhook actif a rotate. Configurer d'abord via POST /v1/me/webhooks.
                instance: /v1/me/webhooks/rotate-secret
                request_id: a1b2c3d4
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # -------------------------------------------------------------------------
  # Ops — probe santé (hors SLA /v1/*)
  # -------------------------------------------------------------------------
  /v1/shops:
    post:
      operationId: createShop
      summary: Déclarer une boutique
      tags: [Shops]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Enregistre une boutique sur votre compte. **Minimum : `external_id`,
        `name`, `country`** — tout le reste s'ajoute ensuite par `PATCH`.

        Déclarer la boutique ici vous dispense de retransmettre son profil
        (`shop_info`) à chaque demande d'appel.

        **Création stricte** : un `external_id` déjà utilisé renvoie un 409,
        jamais une mise à jour implicite. Pour modifier, utilisez `PATCH`.

        **Pas d'`Idempotency-Key` requise**, contrairement à `POST /v1/calls` :
        l'unicité de l'`external_id` rend déjà la création rejouable sans
        risque de doublon. Un rejeu après timeout réseau renvoie un 409, qui
        confirme que la création initiale a abouti.

        **Téléphones** : `phone` et `whatsapp` sont validés contre le `country`
        déclaré. Format local (`0522123456`) ou international
        (`+212522123456`) au choix — les deux sont acceptés tant que le numéro
        appartient bien à ce pays. Ils sont renvoyés normalisés en E.164.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ShopCreate" }
            examples:
              minimal:
                summary: Le strict nécessaire
                value:
                  external_id: "shop-4471"
                  name: "GlowArt Casa"
                  country: "MA"
              complet:
                summary: Fiche renseignée
                value:
                  external_id: "shop-4471"
                  name: "GlowArt Casa"
                  country: "MA"
                  merchant_external_id: "M-4471"
                  phone: "0522123456"
                  whatsapp: "0661234567"
                  email: "contact@glowart.ma"
                  address: "12 Rue des Fleurs, Casablanca"
                  customer_service_hours: "Lun-Sam 9h-18h"
                  sector: "Cosmétique bio artisanale"
                  has_physical_store: true
                  delivery_policy: "Livraison 30 MAD, offerte dès 500 MAD"
                  delivery_delay: "24-48h"
                  payment_policy: "Paiement à la livraison ou carte bancaire"
                  return_policy: "Retour accepté sous 14 jours"
                  exchange_policy: "Échange sous 30 jours, produit non ouvert"
                  inspection_before_payment: true
                  delivery_companies: ["Amana", "CTM"]
                  city_coverage: ["Casablanca", "Rabat", "Marrakech"]
      responses:
        "201":
          description: Boutique créée.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShopOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            `external_id` déjà utilisé sur ce compte
            (`shop_external_id_already_exists`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: |
            Payload invalide (`validation_error`) : champ manquant, trop
            long, chaîne vide, champ inconnu, ou numéro de téléphone qui
            n'appartient pas au pays déclaré.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    get:
      operationId: listShops
      summary: Lister les boutiques
      tags: [Shops]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Liste paginée des boutiques du compte, triée de la plus récente à
        la plus ancienne.

        **Pagination** : curseur opaque, valable 24 h. Passez le
        `next_cursor` de la réponse en `?cursor=` pour la page suivante.
        Défaut 50 résultats, maximum 200.

        **`?merchant_external_id=`** ne garde que les boutiques d'un même
        commerçant — c'est ainsi que l'on sait combien de boutiques il
        possède.

        **`?status=`** vaut `active` par défaut : les boutiques archivées
        sont masquées. `archived` ne montre qu'elles, `all` ne filtre pas.
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
          description: Curseur de la page suivante, tel que renvoyé par `next_cursor`.
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: status
          schema:
            type: string
            enum: [active, archived, all]
            default: active
        - in: query
          name: merchant_external_id
          schema: { type: string, maxLength: 128 }
          description: Ne renvoie que les boutiques de ce commerçant.
      responses:
        "200":
          description: Page de résultats.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaginatedShops" }
        "400":
          description: |
            Curseur malformé, altéré ou expiré (`invalid_cursor`,
            `cursor_expired`). Refaire la première requête sans `cursor`.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/shops/{shop_external_id}:
    get:
      operationId: getShop
      summary: Consulter une boutique
      tags: [Shops]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Renvoie la fiche complète d'une boutique, adressée par **votre**
        identifiant.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
      responses:
        "200":
          description: Fiche de la boutique.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShopOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      operationId: updateShop
      summary: Modifier une boutique
      tags: [Shops]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Modification partielle. **Trois cas à distinguer :**

        | Dans le corps | Effet |
        |---|---|
        | Champ **absent** | Inchangé |
        | Champ à **`null`** | **Effacé** |
        | Champ à **`""`** | Rejeté (422) |

        La chaîne vide est refusée volontairement : sans cela, « effacer »
        et « mettre une valeur vide » seraient indistinguables.

        ⚠️ Cette sémantique **diffère de `shop_info`** sur `POST /v1/calls`,
        où un champ absent ou `null` n'efface jamais rien. C'est délibéré :
        une demande d'appel est du passage, elle ne détruit rien ; un
        `PATCH` est un geste explicite. Si vous gérez vos boutiques par cet
        endpoint, cessez d'envoyer `shop_info` dans vos demandes d'appel.

        **`external_id` ne peut pas être modifié** — il porte l'historique
        des appels de la boutique. L'envoyer produit un 422.

        **Téléphones** : validés contre le pays *effectif* — celui du corps
        s'il est fourni, sinon celui déjà enregistré. Changer le pays d'une
        boutique revalide donc ses numéros.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ShopPatch" }
            examples:
              partielle:
                summary: Deux champs modifiés, un effacé
                value:
                  delivery_delay: "24-48h"
                  payment_policy: "Paiement à la livraison uniquement"
                  current_promotions: null
      responses:
        "200":
          description: Fiche mise à jour.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShopOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "422":
          description: |
            Payload invalide (`validation_error`) : chaîne vide, champ
            inconnu, `external_id` fourni, ou numéro de téléphone qui
            n'appartient pas au pays de la boutique.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      operationId: archiveShop
      summary: Archiver une boutique
      tags: [Shops]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        **La boutique n'est pas supprimée, elle est archivée.** Elle
        disparaît de la liste par défaut et n'accepte plus de modification,
        mais tout son historique d'appels reste intact et consultable.

        Pour la retrouver : `GET /v1/shops?status=archived`.

        Archiver une boutique déjà archivée renvoie un 404 —
        indistinguable d'une boutique inexistante.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
      responses:
        "204":
          description: Boutique archivée.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/shops/{shop_external_id}/products:
    post:
      operationId: createProduct
      summary: Déclarer un produit
      tags: [Products]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Ajoute un produit au catalogue d'une boutique. **Minimum :
        `external_id` et `name`** — tout le reste s'ajoute par `PATCH`.

        Déclarer un produit ici vous dispense de le décrire à chaque
        commande : une ligne qui porte `product_external_id` suffit, et
        `POST /v1/calls` relit le nom, la description, le prix et les
        déclinaisons depuis ce catalogue.

        **Deux niveaux, comme partout dans le commerce en ligne** : le
        produit porte l'identité, la variante porte le prix. Un produit sans
        choix n'y échappe pas — si vous n'envoyez pas de `variants`, une
        variante unique est créée pour lui, sans identifiant, et `unit_price`
        s'y dépose. Vous n'avez rien à savoir de tout cela : envoyez un prix,
        relisez un prix.

        **Le prix est obligatoire.** `unit_price` pour un produit sans choix,
        ou celui de chaque entrée de `variants` : un produit sans prix est
        refusé (422), parce qu'un agent qui ne sait pas répondre à « ça coûte
        combien ? » ne confirme rien.

        **Dès qu'il y a plusieurs variantes, chacune doit porter son
        `external_id`** — sans quoi une commande ne pourrait pas désigner
        laquelle. Le refus est un 422 qui nomme les entrées fautives.

        **Création stricte** : un `external_id` déjà utilisé dans cette
        boutique renvoie un 409, jamais une mise à jour implicite. Le même
        identifiant reste libre dans une autre boutique.

        **Pas d'`Idempotency-Key` requise** : l'unicité de l'`external_id`
        rend déjà la création rejouable sans risque de doublon.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProductCreate" }
            examples:
              sans_choix:
                summary: Produit sans déclinaison — un prix, rien d'autre
                value:
                  external_id: "TSHIRT-BLANC"
                  name: "T-shirt blanc en coton"
                  unit_price: "149.00"
              avec_variantes:
                summary: Trois tailles, deux prix
                value:
                  external_id: "TSHIRT-BLANC"
                  name: "T-shirt blanc en coton"
                  description: "Coton bio 180g, coupe droite"
                  product_url: "https://boutique.example/p/tshirt-blanc"
                  variants:
                    - external_id: "TSH-S"
                      options: { Taille: "S" }
                      unit_price: "149.00"
                    - external_id: "TSH-M"
                      options: { Taille: "M" }
                      unit_price: "149.00"
                    - external_id: "TSH-XL"
                      options: { Taille: "XL" }
                      unit_price: "169.00"
                      compare_at_price: "199.00"
              catalogue_riche:
                summary: Fiche complète, avec ce qui prime sur la boutique
                value:
                  external_id: "SERUM-VITC"
                  name: "Sérum vitamine C"
                  description: "Flacon 30 ml, concentration 15%. Ne pas utiliser sur peau lésée, conserver à l'abri de la lumière."
                  max_discount: "20.00"
                  return_policy: "Produit d'hygiène : aucun retour une fois ouvert"
                  current_promotions: "Deuxième flacon à -50%"
                  unit_price: "320.00"
      responses:
        "201":
          description: Produit créé.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "409":
          description: |
            `external_id` déjà utilisé dans cette boutique
            (`product_external_id_already_exists`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: |
            Payload invalide (`validation_error`) : champ manquant, trop
            long, chaîne vide, champ inconnu, `external_id` de variante
            manquant ou en double, `compare_at_price` qui n'est pas
            supérieur au prix, ou plus de trois axes d'options.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    get:
      operationId: listProducts
      summary: Lister les produits d'une boutique
      tags: [Products]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Liste paginée du catalogue d'une boutique, du produit le plus
        récent au plus ancien. Chaque fiche est renvoyée complète,
        variantes comprises.

        **Pagination** : curseur opaque, valable 24 h. Passez le
        `next_cursor` de la réponse en `?cursor=` pour la page suivante.
        Défaut 50 résultats, maximum 200.

        **`?status=`** vaut `active` par défaut : les produits archivés sont
        masqués. `archived` ne montre qu'eux, `all` ne filtre pas.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - in: query
          name: cursor
          schema: { type: string }
          description: Curseur de la page suivante, tel que renvoyé par `next_cursor`.
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: status
          schema:
            type: string
            enum: [active, archived, all]
            default: active
      responses:
        "200":
          description: Page de résultats.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaginatedProducts" }
        "400":
          description: |
            Curseur malformé, altéré ou expiré (`invalid_cursor`,
            `cursor_expired`). Refaire la première requête sans `cursor`.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/shops/{shop_external_id}/products/{product_external_id}:
    get:
      operationId: getProduct
      summary: Consulter un produit
      tags: [Products]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Renvoie la fiche complète d'un produit, variantes comprises,
        adressée par **vos** identifiants.

        `unit_price` n'est présent que si le produit n'a qu'une variante ;
        sinon, les prix vivent dans `variants`, un par déclinaison.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - $ref: "#/components/parameters/ProductExternalId"
      responses:
        "200":
          description: Fiche du produit.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ProductNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      operationId: updateProduct
      summary: Modifier un produit
      tags: [Products]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Modification partielle. **Trois cas à distinguer :**

        | Dans le corps | Effet |
        |---|---|
        | Champ **absent** | Inchangé |
        | Champ à **`null`** | **Effacé** |
        | Champ à **`""`** | Rejeté (422) |

        ⚠️ **`variants` ne se modifie pas ligne à ligne : la liste envoyée
        remplace entièrement l'ancienne.** Une variante absente de la
        nouvelle liste est supprimée du catalogue. Pour n'en changer qu'une,
        relisez le produit, modifiez l'entrée, renvoyez la liste complète.
        Les commandes déjà passées ne bougent pas — elles ont retenu ce qui
        leur a été dit au moment de l'appel.

        Ne pas envoyer `variants` du tout les laisse intactes : renommer un
        produit n'efface pas ses déclinaisons.

        **`unit_price` seul** ne vaut que pour un produit à variante unique.
        Sur un produit qui en a plusieurs, il est ambigu et refusé (422) :
        c'est dans `variants` que le prix se pose. **`unit_price: null` est
        refusé** dans tous les cas : un prix s'édite, il ne s'efface pas.

        **`external_id` ne peut pas être modifié** — il porte l'historique
        des commandes du produit. L'envoyer produit un 422.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - $ref: "#/components/parameters/ProductExternalId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProductPatch" }
            examples:
              fiche:
                summary: Deux champs modifiés, un effacé
                value:
                  description: "Coton bio 180g, coupe droite, col rond"
                  max_discount: "15.00"
                  current_promotions: null
              prix_simple:
                summary: Nouveau prix d'un produit sans déclinaison
                value:
                  unit_price: "159.00"
              variantes:
                summary: La liste complète, une taille en moins
                value:
                  variants:
                    - external_id: "TSH-M"
                      options: { Taille: "M" }
                      unit_price: "149.00"
                    - external_id: "TSH-XL"
                      options: { Taille: "XL" }
                      unit_price: "169.00"
      responses:
        "200":
          description: Fiche mise à jour.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ProductNotFound" }
        "422":
          description: |
            Payload invalide (`validation_error`) : chaîne vide, champ
            inconnu, `external_id` fourni, `unit_price` sur un produit à
            plusieurs variantes, ou liste de variantes incohérente.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      operationId: archiveProduct
      summary: Archiver un produit
      tags: [Products]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        **Le produit n'est pas supprimé, il est archivé.** Il disparaît du
        catalogue par défaut et ne peut plus être commandé, mais les appels
        qui l'ont mentionné restent intacts et consultables.

        Pour le retrouver : `GET /v1/shops/{shop_external_id}/products?status=archived`.

        Une commande qui le référence après coup est refusée
        (`order_item_unknown_product`) : mieux vaut un appel qui ne part pas
        qu'un appel qui annonce au client un article retiré de la vente.

        Archiver un produit déjà archivé renvoie un 404 — indistinguable
        d'un produit inexistant.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - $ref: "#/components/parameters/ProductExternalId"
      responses:
        "204":
          description: Produit archivé.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ProductNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /healthz:
    get:
      operationId: healthz
      summary: Probe santé applicatif
      tags: [Internal]
      x-status: internal
      security: []
      description: |
        Probe santé pour monitoring / load balancer. **Route interne** —
        pas sous le SLA `/v1/*`, pas de rate-limit, pas d'auth, pas de
        versioning. **Ne pas utiliser pour orchestration billing** ni
        comme signal de disponibilité métier — elle renvoie `200 OK` dès
        que le process Python répond, indépendamment de l'état de la DB
        ou des dépendances externes. Pour connaître l'état métier, se
        reporter à `GET /v1/me` (auth requise).
      responses:
        "200":
          description: Process vivant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }

  /v1/shops/{shop_external_id}/orders:
    post:
      operationId: createOrder
      summary: Déclarer une commande
      tags: [Orders]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Déclare une commande sous une boutique, avec **votre** identifiant.
        Minimum : `external_id`, `customer`, `amount`, et de quoi décrire le
        contenu — `items` ou `items_text`.

        Une commande déclarée s'appelle ensuite **par référence** :
        `POST /v1/calls` avec `order_external_id`, et rien d'autre que les
        paramètres de l'appel. Le serveur relit le client, les articles et
        les montants. Relancer le client se fait avec la même référence :
        les appels s'empilent sur la commande, jamais de doublon.

        **Les articles sont figés ici.** Une ligne qui référence un produit
        du catalogue (`product_external_id`, plus `variant_external_id` s'il
        a plusieurs variantes) est résolue à la déclaration — nom, prix,
        variantes, identifiants — et c'est cette copie que chaque appel
        lira, même si le catalogue change ensuite. Une ligne décrite sur
        place avec `name` reste valide : article sur mesure, frais de port,
        cadeau.

        **Le statut ne s'écrit pas.** `order_status` vient du résultat des
        appels : `PENDING`, puis `CONFIRMED`, `CANCELLED`, `UNREACHABLE`…
        Il se lit.

        **Création stricte** : un `external_id` déjà pris dans cette
        boutique renvoie un 409, jamais une mise à jour implicite.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrderDeclare" }
            examples:
              par_reference:
                summary: Deux articles du catalogue, un client, un montant
                value:
                  external_id: "CMD-2026-8891"
                  customer:
                    name: "Ahmed Bennani"
                    phone_number: "+212612345678"
                  amount: "487.00"
                  delivery_address: "12 rue des Orangers, Casablanca"
                  items:
                    - product_external_id: "TSHIRT-BLANC"
                      variant_external_id: "TSH-XL"
                      quantity: 1
                    - product_external_id: "SERUM-VITC"
                      quantity: 1
              avec_frais_de_port:
                summary: Un article du catalogue et une ligne décrite sur place
                value:
                  external_id: "CMD-2026-8892"
                  customer:
                    name: "Salma Idrissi"
                    phone_number: "+212661234567"
                    gender: "female"
                  amount: "179.00"
                  shipping_cost: "30.00"
                  estimated_delivery_date: "2026-09-05"
                  order_notes: "Cadeau : ne pas mentionner le prix"
                  items:
                    - product_external_id: "TSHIRT-BLANC"
                      variant_external_id: "TSH-M"
                      quantity: 1
                    - name: "Frais de livraison"
                      quantity: 1
                      unit_price: "30.00"
      responses:
        "201":
          description: Commande déclarée, articles figés.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrderOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "409":
          description: |
            `external_id` déjà utilisé dans cette boutique
            (`order_external_id_already_exists`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: |
            Payload invalide (`validation_error`) : champ manquant, trop
            long, chaîne vide, champ inconnu, ni `items` ni `items_text`.
            Ou une ligne qui référence un produit inconnu
            (`order_item_unknown_product`) ou une variante non précisée
            (`order_item_variant_required`, le `detail` liste celles qui
            existent).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    get:
      operationId: listOrders
      summary: Lister les commandes d'une boutique
      tags: [Orders]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Liste paginée des commandes d'une boutique, de la plus récente à
        la plus ancienne. Chaque fiche est renvoyée complète, appels
        compris.

        **Pagination** : curseur opaque, valable 24 h. Passez le
        `next_cursor` de la réponse en `?cursor=` pour la page suivante.
        Défaut 50 résultats, maximum 200.

        **`?status=`** vaut `active` par défaut : les commandes archivées
        sont masquées. `archived` ne montre qu'elles, `all` ne filtre pas.
        **`?order_status=`** ne garde que les commandes dans cet état
        (`PENDING`, `CONFIRMED`…).
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - in: query
          name: cursor
          schema: { type: string }
          description: Curseur de la page suivante, tel que renvoyé par `next_cursor`.
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: status
          schema:
            type: string
            enum: [active, archived, all]
            default: active
        - in: query
          name: order_status
          schema: { type: string, maxLength: 32 }
          description: Ne garder que les commandes dans cet état (`PENDING`, `CONFIRMED`…).
      responses:
        "200":
          description: Page de résultats.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaginatedOrders" }
        "400":
          description: |
            Curseur malformé, altéré ou expiré (`invalid_cursor`,
            `cursor_expired`). Refaire la première requête sans `cursor`.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/ShopNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/shops/{shop_external_id}/orders/{order_external_id}:
    get:
      operationId: getOrder
      summary: Consulter une commande
      tags: [Orders]
      x-status: live
      x-rate-limit: "600/minute"
      description: |
        Renvoie la fiche complète d'une commande, adressée par **vos**
        identifiants : client, articles figés, montants, `order_status`,
        et la liste de ses appels avec leur résultat. `call_in_progress`
        dit si un appel n'est pas terminé — la commande ne peut alors ni
        être modifiée, ni archivée, ni rappelée.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - $ref: "#/components/parameters/OrderExternalId"
      responses:
        "200":
          description: Fiche de la commande.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrderOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/OrderNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      operationId: updateOrder
      summary: Modifier une commande
      tags: [Orders]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Modification partielle. **Trois cas à distinguer :**

        | Dans le corps | Effet |
        |---|---|
        | Champ **absent** | Inchangé |
        | Champ à **`null`** | **Effacé** |
        | Champ à **`""`** | Rejeté (422) |

        Trois champs ne s'effacent pas — `customer`, `amount`, `items` :
        une commande a toujours un client, un montant et un contenu.
        Les envoyer à `null` produit un 422.

        ⚠️ **`items` remplace entièrement la liste**, et chaque ligne est
        résolue à nouveau depuis le catalogue : la copie figée est refaite
        avec les prix du jour. Ne pas envoyer `items` la laisse intacte.

        **Refusé pendant un appel en cours** (`409 order_call_in_progress`) :
        l'agent est en ligne avec ce qu'il a lu. Attendre la fin de l'appel.

        **`external_id` ne peut pas être modifié** — il porte l'historique
        des appels. L'envoyer avec une autre valeur produit un 422.
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - $ref: "#/components/parameters/OrderExternalId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrderPatch" }
            examples:
              adresse_et_montant:
                summary: L'adresse corrigée, une remise consentie
                value:
                  delivery_address: "14 rue des Orangers, Casablanca"
                  amount: "450.00"
                  discount: "37.00"
              articles:
                summary: La liste complète, un article en moins
                value:
                  items:
                    - product_external_id: "SERUM-VITC"
                      quantity: 1
                  amount: "320.00"
      responses:
        "200":
          description: Fiche mise à jour.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrderOut" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/OrderNotFound" }
        "409":
          description: |
            Un appel est en cours sur cette commande
            (`order_call_in_progress`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: |
            Payload invalide (`validation_error`) : chaîne vide, champ
            inconnu, `external_id` différent de l'URL, `customer`,
            `amount` ou `items` à `null` ; ou une ligne qui référence un
            produit inconnu (`order_item_unknown_product`) ou une variante
            non précisée (`order_item_variant_required`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      operationId: archiveOrder
      summary: Archiver une commande
      tags: [Orders]
      x-status: live
      x-rate-limit: "120/minute"
      description: |
        Archive la commande — **elle n'est pas supprimée**. Elle disparaît
        de la liste par défaut et ne peut plus être appelée ; ses appels et
        son historique restent lisibles (`?status=archived`).

        **Refusé pendant un appel en cours** (`409 order_call_in_progress`).
      parameters:
        - $ref: "#/components/parameters/ShopExternalId"
        - $ref: "#/components/parameters/OrderExternalId"
      responses:
        "204":
          description: Commande archivée. Aucun corps.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/OrderNotFound" }
        "409":
          description: |
            Un appel est en cours sur cette commande
            (`order_call_in_progress`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: yk_... (38 chars)
      description: |
        Clé API au format `yk_...`. Fournie manuellement par l'équipe
        Yasmine (bootstrap). Self-service `POST /v1/me/api-keys` à venir
        en M4.
  parameters:
    ShopExternalId:
      in: path
      name: shop_external_id
      required: true
      schema: { type: string, maxLength: 128, pattern: "^[a-zA-Z0-9_.-]+$" }
      description: |
        Identifiant de la boutique **dans votre système**, celui fourni à
        la création. Jamais notre UUID interne.
      example: "shop-4471"
    ProductExternalId:
      in: path
      name: product_external_id
      required: true
      schema: { type: string, maxLength: 128, pattern: "^[a-zA-Z0-9_.-]+$" }
      description: |
        Identifiant du produit **dans votre systeme**, celui fourni a la
        creation. Jamais notre UUID interne.
      example: "TSHIRT-01"
    OrderExternalId:
      in: path
      name: order_external_id
      required: true
      schema: { type: string, maxLength: 128, pattern: "^[a-zA-Z0-9_.-]+$" }
      description: |
        Identifiant de la commande **dans votre systeme**, celui fourni a la
        declaration. Jamais notre UUID interne.
      example: "CMD-2026-8891"
    RequestIdHeader:
      in: header
      name: X-Request-ID
      required: false
      schema:
        type: string
        format: uuid
      description: |
        UUID v4 que vous souhaitez attribuer à cette requête.

        - Si présent et format UUID v4 strict valide (RFC 4122) : Yasmine
          le respecte et le retourne tel quel en header response.
        - Si absent, vide, ou format invalide : Yasmine en génère un
          nouveau (rejet sécurisé contre la log injection / path traversal).

        Toutes les responses incluent ce header. Les erreurs RFC 7807
        incluent le même `request_id` dans le body. Joignez-le à tout
        ticket support pour tracer une requête côté serveur.
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 255
      description: |
        Clé d'idempotence **obligatoire**. Format libre, 1-255
        chars (UUID v4 recommandé). Scope par reseller, TTL 24 h.

        - **Replay** (même clé + même body) → la réponse stockée est
          rejouée bit-for-bit avec `X-Idempotent-Replay: true`. Aucun
          nouvel appel, aucun nouveau débit.
        - **Conflit** (même clé + body différent) → `409
          idempotency_key_conflict`. Générer une nouvelle clé pour une
          requête différente.
        - **Header absent / vide / > 255 chars** → `400` avec slug
          `missing_idempotency_key` / `idempotency_key_empty` /
          `idempotency_key_too_long`.
    Limit:
      in: query
      name: limit
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      in: query
      name: cursor
      schema: { type: string }
      description: Opaque. Fourni par `next_cursor` de la page précédente.
    Sort:
      in: query
      name: sort
      schema: { type: string, default: "-created_at" }
      description: Champ + signe. `-` pour DESC. Défaut `-created_at`.
    CallId:
      in: path
      name: call_id
      required: true
      # On accepte n'importe quelle string en path. Un UUID
      # syntaxiquement invalide est traite cote serveur comme 404
      # `call_not_found` (pas 422), pour homogeneiser l'anti-enum.
      schema: { type: string }
  headers:
    RequestIdResponse:
      description: |
        UUID v4 qui identifie cette requête côté serveur. Émis
        sur **toutes** les responses, succès comme erreur. Respecte la
        valeur fournie par le client via le header `X-Request-ID` si
        format UUID v4 strict valide, sinon régénère. À joindre à tout
        ticket support pour tracer une requête.
      schema:
        type: string
        format: uuid
      example: 3f8e9d12-4b5a-4c6d-8e7f-123456789abc
    RateLimitLimit:
      description: |
        Plafond rate-limit appliqué à cet endpoint pour la clé API
        courante, exprimé en requêtes par minute. Identique
        quelle que soit l'issue de la requête (2xx, 4xx, 5xx).
      schema: { type: integer }
      example: 600
    RateLimitRemaining:
      description: |
        Nombre de requêtes restant dans la fenêtre courante.
        Vaut `0` sur une 429.
      schema: { type: integer }
      example: 597
    RateLimitReset:
      description: |
        Timestamp Unix (secondes depuis l'epoch) du prochain reset de
        la fenêtre rate-limit.
      schema: { type: integer }
      example: 1714744860
  responses:
    ShopNotFound:
      description: |
        Aucune boutique active avec cet identifiant sur votre compte
        (`shop_not_found`). **Corps identique dans trois cas** — elle
        n'existe pas, elle est archivée, ou elle appartient à un autre
        compte. Une réponse différenciée permettrait de deviner quelles
        boutiques existent ailleurs.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    ProductNotFound:
      description: |
        Rien a cette adresse. **Deux slugs possibles**, et le corps ne dit
        rien de plus :

        - `shop_not_found` — la boutique du chemin est introuvable ;
        - `product_not_found` — la boutique existe, le produit non.

        Chaque slug couvre **trois situations au corps identique** : cela
        n'existe pas, c'est archive, ou cela appartient a un autre compte.
        Une reponse differenciee permettrait de deviner ce qui existe
        ailleurs.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    OrderNotFound:
      description: |
        Rien a cette adresse. **Deux slugs possibles**, et le corps ne dit
        rien de plus :

        - `shop_not_found` — la boutique du chemin est introuvable ;
        - `order_not_found` — la boutique existe, la commande non.

        Chaque slug couvre **trois situations au corps identique** : cela
        n'existe pas, c'est archive, ou cela appartient a un autre compte.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    Unauthorized:
      description: Clé API absente, invalide ou révoquée.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    CallNotFound:
      description: |
        Appel introuvable. **Body byte-identique** sur les 3 cas
        possibles (UUID invalide / inconnu / autre tenant) — anti-énum.
        Slug stable `call_not_found`.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
          example:
            type: https://docs.yasmine.akidly.com/errors/call_not_found
            title: Not Found
            status: 404
            detail: Aucun appel trouve pour cet identifiant.
            instance: /v1/calls/00000000-0000-0000-0000-000000000000
            request_id: a1b2c3d4
    NotFound:
      description: Ressource introuvable ou non accessible au reseller courant.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    ValidationError:
      description: Payload mal formé — détails dans `errors[]`.
      content:
        application/problem+json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Problem"
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        loc: { type: array, items: { type: string } }
                        msg: { type: string }
                        type: { type: string }
    IdempotencyKeyError:
      description: |
        Header `Idempotency-Key` invalide. Trois slugs possibles :
        `missing_idempotency_key` (absent), `idempotency_key_empty`
        (chaîne vide), `idempotency_key_too_long` (> 255 chars).
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
          examples:
            missing:
              summary: Header absent
              value:
                type: https://docs.yasmine.akidly.com/errors/missing_idempotency_key
                title: Bad Request
                status: 400
                detail: Le header Idempotency-Key est obligatoire sur POST /v1/calls.
                instance: /v1/calls
                request_id: a1b2c3d4
            empty:
              summary: Header vide
              value:
                type: https://docs.yasmine.akidly.com/errors/idempotency_key_empty
                title: Bad Request
                status: 400
                detail: Idempotency-Key ne peut pas etre vide.
                instance: /v1/calls
                request_id: a1b2c3d4
            too_long:
              summary: Header > 255 chars
              value:
                type: https://docs.yasmine.akidly.com/errors/idempotency_key_too_long
                title: Bad Request
                status: 400
                detail: "Idempotency-Key ne peut pas depasser 255 caracteres (recu : 312)."
                instance: /v1/calls
                request_id: a1b2c3d4
    IdempotencyKeyConflict:
      description: |
        Idempotency-Key déjà utilisée avec un body différent. Générer
        une nouvelle clé pour une requête différente.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
          example:
            type: https://docs.yasmine.akidly.com/errors/idempotency_key_conflict
            title: Conflict
            status: 409
            detail: Idempotency-Key 'order-cmd-2026-789' a deja ete utilisee avec un body different.
            instance: /v1/calls
            request_id: a1b2c3d4
    InsufficientBalance:
      description: Solde insuffisant pour déclencher l'appel.
      content:
        application/problem+json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Problem"
              - type: object
                properties:
                  balance_seconds: { type: integer }
                  required_seconds: { type: integer }
    RateLimited:
      description: |
        Rate-limit par clé API dépassé. Slug
        `rate_limit_exceeded`. Respecter `Retry-After` (secondes) avant
        de retenter.
      headers:
        Retry-After:
          description: Secondes avant le prochain reset du bucket.
          schema: { type: integer }
        X-RateLimit-Limit:
          description: Plafond appliqué à cet endpoint (requêtes par minute).
          schema: { type: integer }
        X-RateLimit-Remaining:
          description: Compteur restant dans la fenêtre courante. Vaut `0` sur 429.
          schema: { type: integer }
        X-RateLimit-Reset:
          description: Timestamp Unix du prochain reset.
          schema: { type: integer }
      content:
        application/problem+json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Problem"
              - type: object
                properties:
                  retry_after:
                    type: integer
                    description: Secondes avant le prochain reset (identique au header).
    InternalError:
      description: |
        Erreur interne inattendue côté Yasmine (slug `internal_error`).
        Toujours loguée côté serveur avec le `request_id` correspondant.
        Le client doit retenter (idempotent), ou contacter le support en
        joignant `request_id`. Le détail de la stack n'est jamais exposé.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
          example:
            type: https://docs.yasmine.akidly.com/errors/internal_error
            title: Internal Server Error
            status: 500
            detail: Une erreur interne est survenue. Contacter le support avec la valeur de request_id.
            instance: /v1/calls
            request_id: a1b2c3d4
  schemas:
    # --- Boutiques -------------------------------------------------------
    # ⚠️ Ces schemas sont GENERES depuis le contrat livre. Ne pas les
    # editer a la main : la spec et le service divergeraient, exactement
    # le defaut trouve le 2026-09-02 sur `inspection_before_payment`,
    # annonce par la documentation mais refuse en 422. Un controle
    # automatique compare desormais les deux et echoue en cas d'ecart.
    ShopCreate:
      additionalProperties: false
      description: 'Payload `POST /v1/shops`. Minimum : `external_id`, `name`, `country`.'
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
        country:
          enum:
          - MA
          - DZ
          - TN
          type: string
        default_language:
          enum:
          - ar
          - fr
          type: string
          nullable: true
          description: 'Registre habituel : `ar` (darija locale) ou `fr`. Sert de defaut quand
            une demande d''appel ne precise pas la langue. Ce n''est PAS un choix de dialecte
            : celui-ci se deduit du pays du client appele.'
        merchant_external_id:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9_.-]+$
          type: string
          nullable: true
          description: Identifiant du commercant proprietaire, tel qu'il existe chez vous. Regroupe
            plusieurs boutiques sous un meme commercant. A ne pas confondre avec `external_id`,
            qui identifie LA boutique.
          example: M-4471
        phone:
          maxLength: 30
          minLength: 1
          type: string
          nullable: true
          description: Telephone de la boutique. Format local ou international accepte, mais le
            numero doit appartenir au pays declare. Renvoye normalise en E.164.
          example: '0522123456'
        whatsapp:
          maxLength: 30
          minLength: 1
          type: string
          nullable: true
          description: Numero WhatsApp, memes regles que `phone`.
        email:
          maxLength: 50
          minLength: 1
          pattern: ^[^@\s]+@[^@\s]+\.[^@\s]+$
          type: string
          nullable: true
          description: Email de contact. Normalise en minuscules.
        address:
          maxLength: 200
          minLength: 1
          type: string
          nullable: true
        customer_service_hours:
          maxLength: 100
          minLength: 1
          type: string
          nullable: true
          description: Horaires du service client, texte libre.
          example: Lun-Sam 9h-18h
        website_url:
          maxLength: 255
          minLength: 1
          pattern: ^https?://[^\s]+$
          type: string
          nullable: true
        sector:
          maxLength: 80
          minLength: 1
          type: string
          nullable: true
          description: Secteur d'activite, texte libre. « Boutique de cosmetique bio artisanale
            » informe mieux qu'un code ferme.
        has_physical_store:
          type: boolean
          nullable: true
          description: 'Point de vente ou le client peut se presenter ? `true` oui, `false` vente
            a distance uniquement. Absent ou `null` vaut `false` : le troisieme etat « non declare
            » a ete retire le 2026-09-03. Repond a « puis-je venir ? », question que `address`
            ne tranche pas.'
        delivery_policy:
          maxLength: 250
          minLength: 1
          type: string
          nullable: true
        delivery_delay:
          maxLength: 100
          minLength: 1
          type: string
          nullable: true
        payment_policy:
          maxLength: 250
          minLength: 1
          type: string
          nullable: true
        return_policy:
          maxLength: 250
          minLength: 1
          type: string
          nullable: true
        exchange_policy:
          maxLength: 250
          minLength: 1
          type: string
          nullable: true
        warranty_policy:
          maxLength: 250
          minLength: 1
          type: string
          nullable: true
        inspection_before_payment:
          type: boolean
          nullable: true
          description: Le client peut-il ouvrir le colis avant de payer ? Absent ou `null` vaut
            `false` — le troisieme etat « non declare » a ete retire le 2026-09-03.
        faq_free:
          maxLength: 500
          minLength: 1
          type: string
          nullable: true
        current_promotions:
          maxLength: 250
          minLength: 1
          type: string
          nullable: true
        max_discount:
          anyOf:
          - maximum: 10000.0
            minimum: 0.0
            type: number
          - pattern: ^[0-9]+([.][0-9]+)?$
            type: string
            example: '250.00'
          - type: 'null'
          description: 'Remise maximale que l''agent pourra accorder. Interpretee dans la devise
            du pays de la boutique (MA -> MAD, DZ -> DZD, TN -> TND). Plafond ramene de 1 000
            000 a 10 000 le 2026-09-03 : au-dela, ce n''est plus une remise negociable au telephone.
            La remise d''UNE commande garde son propre plafond, plus haut.'
          nullable: true
        delivery_companies:
          items:
            maxLength: 60
            minLength: 1
            type: string
          maxItems: 10
          type: array
          nullable: true
          description: Transporteurs avec lesquels la boutique travaille.
        city_coverage:
          items:
            maxLength: 80
            minLength: 1
            type: string
          maxItems: 200
          type: array
          nullable: true
          description: 'Villes livrees. **Present = liste fermee** : l''agent annonce la non-livraison
            ailleurs. Absent = aucune restriction.'
        tone:
          enum:
          - formal
          - friendly
          - default
          type: string
          nullable: true
        agent_name:
          maxLength: 20
          minLength: 1
          pattern: ^[A-Za-zÀ-ÿ؀-ۿ][A-Za-zÀ-ÿ؀-ۿ \.'\-]*$
          type: string
          nullable: true
          description: 'Prenom de l''agent. Defaut : Yasmine.'
        voice_id:
          maxLength: 32
          minLength: 1
          type: string
          nullable: true
        max_call_duration_seconds:
          maximum: 600
          minimum: 30
          type: integer
          nullable: true
        external_id:
[...]
